.btn-model-list {
    margin: 0.7vw;
    margin-left: 0.35vw;
    margin-right: 0.35vw;
}

.user-info-item {
    padding-left: 0.7vw;
    padding-right: 0.7vw;
}

.validation-master {
    margin-left: 0.7vmin;
}