.user-info-item {
    padding-left: 0.7vw;
    padding-right: 0.7vw;
}

.otp-btn {
    margin-top: 0.7vmin;
    margin-bottom: 0.7vmin;
}

.btn-master {
    padding-left: 2vmin;
    padding-right: 2vmin;
}